<div class="toggle">
    <fa-icon [icon]="fa_bars"></fa-icon>
</div>

<div class="search">
    <label>
        <input type="text" placeholder="Search here">
        <fa-icon [icon]="fa_bars"></fa-icon>
    </label>
</div>

<div class="user">
    <p>User</p>
    <!-- <img src="assets/imgs/customer01.jpg" alt=""> -->
</div>