.toggle {
position: relative;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
cursor: pointer;
}

.search {
position: relative;
width: 400px;
margin: 0 10px;
}

.search label {
position: relative;
width: 100%;
}

.search label input {
width: 100%;
height: 40px;
border-radius: 40px;
padding: 5px 20px;
padding-left: 35px;
font-size: 18px;
outline: none;
border: 1px solid #999;
}

.search label fa-icon {
position: absolute;
top: 0;
left: 10px;
font-size: 1.2rem;
}

.user {
position: relative;
padding: 20px;
width: auto;
height: auto;
overflow: hidden;
cursor: pointer;
}

@media (max-width: 480px) {
.user {
    min-width: 40px;
}
}