<div class="row">

    <div class="col-md-3">
        <a routerLink="/list_depot_car" >Liste des voitures en dépôt</a>
    </div>

    <div class="col-md-6">

        <h4 align="center">Déposer une voiture</h4>
        
        <hr class="my-2">

        <div class="alert alert-success" [hidden]="hidden_message">
            La voiture a été déposée avec succès
        </div>

        <form [formGroup]="drop_car_form" (ngSubmit)="drop_car()">
            <div class="form-group mt-4">
                <input type="text" class="form-control" placeholder="Modèle de la voiture"  formControlName="carModel">
                <p class="text-success my-2" *ngIf="carModel?.errors?.['required']">
                    Veuillez bien remplir le modèle de la voiture.
                </p>
            </div>
            <div class="form-group mt-4">
                <input type="text" class="form-control" placeholder="Type de la voiture"  formControlName="carPicture">
                <p class="text-success my-2" *ngIf="carPicture?.errors?.['required']">
                    Veuillez bien remplir le type de la voiture.
                </p>
            </div>
            <div class="form-group mt-4" *ngIf="drop_car_form?.['valid']">
                <button type="submit" class="btn btn-primary">Déposer la voiture</button>
            </div>
        </form>

    </div>

    <div class="col-md-3"></div>

</div> 