<div class="m-2">
    <a routerLink="/depot_car" >Ajouter</a>
    <h4 align="center">Liste des voitures en dépôt</h4>
    <hr>
    <div class="search-name">
        <input class="form-control" type="search" name="recherche" [(ngModel)]="recherche" autocomplete="on" placeholder="Recherche">
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Type</th>
                <th>Date de dépôt</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let all_car_dropped_ of all_car_dropped | filter:recherche | paginate: { itemsPerPage: 5, currentPage: page_number }"> 
                <td>{{ all_car_dropped_.carModel }}</td>
                <td>{{ all_car_dropped_.carPicture }}</td>
                <td>{{ all_car_dropped_.dateDeposit }}</td>
                <td>{{ all_car_dropped_.responsableReception }}</td>
            </tr>
        </tbody> 
    </table>
    <pagination-controls (pageChange)="page_number = $event" class="m-2"></pagination-controls>
    <app-loader></app-loader>
</div> 
 