<div *ngIf="get_role() === 'respAtelier' ">
    <details open >
        <summary class="text-white"><fa-icon [icon]="fa_bars"></fa-icon></summary>
        <ul class="list_menu">
            <li>
                <a routerLink="/depot_car" >Déposer voiture</a>
            </li>
            <li>
                <a (click)="log_out()" class="text-danger" id="logOut">Se déconnecter</a>
            </li>
        </ul>
    </details>
</div>

<div *ngIf="get_role() === 'client' ">
    <details open >
        <summary class="text-white"><fa-icon [icon]="fa_bars"></fa-icon></summary>
        <ul class="list_menu">
            <li>
                <a routerLink="/depot_car" >Déposer voiture</a>
            </li>
            <li>
                <a (click)="log_out()" class="text-danger" id="logOut">Se déconnecter</a>
            </li>
        </ul>
    </details>
</div>

<div *ngIf="get_role() === 'null' ">
    <details open >
        <summary class="text-white"><fa-icon [icon]="fa_bars"></fa-icon></summary>
        <ul class="list_menu">
            <li>
                <a routerLink="/login">Connexion client</a>
            </li>
            <li>
                <a routerLink="/login_atelier">Connexion R.A</a>
            </li>
            <li>
                <a routerLink="/register">S' inscrire</a>
            </li>
        </ul>
    </details>
</div>
