*
{
	margin: 0;
	padding: 5px;
}
.list_menu
{
	max-height: 650px;
	display: flex;
	flex-direction: column;
}

.list_menu li
{
	height: 50px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.list_menu li a
{
	color: white;
	text-decoration: none;
}

.list_menu li a:hover {
	font-size: 20px;
}

@media screen and (max-width: 1000px)
{
	.list_menu
	{
		flex-direction: column;	/* côté à côté */
		justify-content: center;
	}

	.list_menu li
	{
		margin: 0 10px;	/* 0px => top et bottom // 10px => right et left */
	}
}

#logOut {
    cursor: pointer;
}