<div class="row">

    <div class="col-md-4"></div> 

    <div class="col-md-4">
        <h4 align="center">S' inscrire</h4> 
        <hr class="my-2">
        <p class="alert alert-success p-2 my-2" role="alert" [hidden]="hidden_message">
          {{ message }}
        </p>
        <form [formGroup]="register_form" (ngSubmit)="register()">
            <div class="form-group mt-4">
                <input type="text" class="form-control mt-1" placeholder="Nom" id="name" formControlName="name">
                <p class="text-success my-2" *ngIf="name?.errors?.['required']">
                  Veuillez bien remplir le nom.
                </p>
            </div>
            <div class="form-group mt-4">
                <input type="text" class="form-control mt-1" placeholder="Prénom(s)" id="firstname" formControlName="firstname">
                <p class="text-success my-2" *ngIf="firstname?.errors?.['required']">
                  Veuillez bien remplir le prénom.
                </p>
            </div>
            <div class="form-group mt-4">
              <input type="email" class="form-control mt-1" placeholder="Adresse mail" id="email" formControlName="email">
              <p class="text-success my-2" *ngIf="email?.errors?.['required'] || 
              email?.errors?.['pattern']">
                Veuillez bien remplir l'adresse mail.
              </p>
            </div>
            <div class="form-group mt-4">
              <input type="password" class="form-control mt-1" placeholder="Mot de passe" id="password" formControlName="password"> 
              <p class="text-success my-2" *ngIf="password?.errors?.['required'] || 
              password?.errors?.['minlength']">
                Veuillez bien remplir le mot de passe.
              </p>
            </div>
            <div class="form-group mt-2" *ngIf="register_form?.['valid']">
              <button type="submit" class="btn btn-primary mt-4">Inscription</button>
            </div>            
        </form>
    </div>

    <div class="col-md-4"></div>

</div>