<!-- 

    <div class="m-2">
    <h4 align="center">Liste des voitures</h4>
    <hr>
    <div class="search-name">
        <input class="form-control" type="search" name="recherche" [(ngModel)]="recherche" autocomplete="on" placeholder="Recherche">
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>NUMBER</th>
                <th>NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let cars_ of cars | filter:recherche | paginate: { itemsPerPage: 5, currentPage: page_number }"> 
                <td>{{ cars_.id }}</td>
                <td>{{ cars_.number }}</td>
                <td>{{ cars_.name }}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page_number = $event" class="m-2"></pagination-controls>
    <app-loader></app-loader>
</div> 

-->
