.loader{
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 10px solid #bdc3c7;
    width: 100px;
    height: 100px;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    animation: chargeur 4s linear infinite;
  }
  
  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: black;
      border-bottom-color: black;
    }
    25%{
      border-top-color: black;
      border-bottom-color: black;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: black;
      border-bottom-color: black;
    }
    75%{
      border-top-color: black;
      border-bottom-color: black;
    }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: black;
      border-bottom-color: black;
    }
    
  }