input {
    border-top:    none;
    border-right:  none;
    border-bottom: 2px solid black;
    border-left:   none;
    background-color: #F9F7F0;
    border-radius: 0;
    padding-left: 0;
}


input:focus {
    outline: none !important;
    border: 1px solid #F9F7F0;
    box-shadow: 0 0 10px #F9F7F0;
    background-color: #F9F7F0;
}