<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-4">
      <h4 align="center">Se connecter en tant que client</h4>
      <hr class="my-2">
      <p class="alert alert-danger p-2" role="alert" [hidden]="hidden_message_error">
        {{ message_error }}
      </p>
      <form [formGroup]="login_form" (ngSubmit)="login()">
          <div class="form-group mt-4"> 
            <input type="email" class="form-control mt-1" placeholder="Adresse mail" id="email" 
            formControlName="email">
            <p class="text-success my-1" *ngIf="email?.errors?.['required']" >
              Veuillez bien remplir l'adresse mail.
            </p>
          </div>
          <div class="form-group mt-4">
            <input type="password" class="form-control mt-1" placeholder="Mot de passe" id="password" formControlName="password">
            <p class="text-success my-1" *ngIf="password?.errors?.['required']">
              Veuillez bien remplir le mot de passe.
            </p>
          </div>
          <div class="form-group mt-2" *ngIf="login_form?.['valid']">
            <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
          </div> 
      </form>
  </div>

  <div class="col-md-4"></div>
  
</div>

