<div class="container_grid">

  <header>
      <h2 class="text-white">TC-Garage</h2>
  </header>

  <nav>
      <app-navigation></app-navigation>
  </nav>

  <main>
      <router-outlet></router-outlet>
  </main>

  <!-- <aside>
      <app-aside></app-aside>
  </aside> -->

  <footer>
      <p>Mahefarison Itokiana Ghislain - Ramarotafika Hedi Franco</p>
  </footer>
  
</div>
