/* You can add global styles to this file, and also import other style files */

h1
{
	margin-bottom: 20px; 
}

/*________________________________________________________________________________________________________________________________*/
.container_grid
{	
	height: 100vh;	/*100% de Y de l'écran*/
	width: 100%;	/*100% de X de l'écran*/
	display: grid;
	grid-template-columns: 200px 1fr;	/* => 3 colonnes*/
	grid-template-rows: auto 1fr;	/* => 3 lignes*/
}
/*___________________________________________________________________________________*/
header
{	
	text-align: left;
	padding: 20px;
	font-size: 20px;
	background-color: #178CA4;
	grid-column: span 3;	/* prendre 3 espace de grid-template-columns: 200px 1fr 200px */
}
/*___________________________________________________________________________________*/
main
{
	height: auto;
	padding: 20px;
	background-color: #F9F7F0;
}
/*___________________________________________________________________________________*/
nav
{
	background-color: #18B7BE ;
}
/*___________________________________________________________________________________*/
footer
{
	text-align: center;
	color: white;
	padding: 20px;
	background-color: #072A40;
	grid-column: span 3;
}
/*________________________________________________________________________________________________________________________________*/

@media screen and (max-width: 1000px)
{
	
	.container_grid
	{	
		display: flex;
		flex-direction: column;	/* de haut en bas */
	}

	main
	{
		height: 100%;
	}
}
